.fixed_header{
    width: 1400x;
    height: 250px;
    background-image: url(../myweb/aboutme.jpg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px

}


a{
    text-decoration: none;
  }

body {
    margin: 0px;
}

nav {
    display: flex;
    position: relative;
    margin-inline-start: 200px;
  
  }
  
nav div {
    width: 70%;
    text-align: center;
  }

.zero_menu{
    display: inline-block;
    padding-top: 40px;
    padding-left: 50px;
}




.abilities{
    text-align: center;
    margin-top: 20px;
}

*{
    list-style-type: none;
}

li{
    color:darkgrey;
}

b{
    color: black;
}

.contact_info{
    text-align: end;
    padding-right: 20px;

}

.career_menu{
    padding: 10px;
    display: none;

}


.career_menu2{
    padding: 10px;
    display: none;
    justify-content: center;

}

.twobuttons{
    display: inline;
    text-align: center;
    padding: 5%;
}

.career_contents{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 150px;
    justify-content: center;

}

.careerintro{
    text-align: center;
    color: rgb(124, 124, 124);
    margin-top: 40px;
}

table{
    text-align: center;
    margin-left: 33%;

}
