a{
    text-decoration: none;
  }

.home_section_top {
    text-align: left;
    padding-top: 30px;
    padding-left: 7%;
    padding-bottom: 20px;
    color:rgb(42, 55, 59);
}

.main_background {
    width: 1400x;
    height: 750px;
    background-image: url(main_img.JPG);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-inline-start: 100px;
    
   
}



.portfolio_menu{
    padding-top: 27%;
    padding-left: 77%;
    position: absolute;
    color: ivory;

  
}

.contact_info{
    text-align: end;
    padding-right: 20px;

}


.contact_info{
    text-align: end;
    padding-right: 20px;
}
